[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-import-export = "*"
django = "==4.2.1"
psycopg2-binary = "==2.9.1"
djangorestframework-jsonapi = "*"
django-filter = "==23.2"
setuptools = "*"
nameparser = "*"
django-daterange-filterspec = "*"
django-admin-rangefilter = "*"

[dev-packages]

[requires]
python_version = "3.10"
